
body{
    font-family: 'Oxygen', sans-serif;
    font-size: 100%;
    background: url(../imagens/login-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela_login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tela_login form {
    background: rgba(0, 42, 84, .8);
    width: 40%;
    height: 26.25rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1.875rem;
    box-shadow: 5px 5px 15px black;
}

.tela_login form p {
    font-size: 1.875rem;
    color: white;
    padding: 1rem 0;
    font-weight: bold;
}

.tela_login form p::after {
    content: " ";
    display: block;
    height: 2px;
    width: 1.875rem;
    margin-top: .3125rem;
    background: white;
}

.tela_login form label {
    display: none;
}

.formulario-itens {
    width: 100%;
    margin: .9375rem 0;
    border: none;
    padding: .625rem;
    font-size: 1.125rem;
    border-radius: .3125rem;
    background: #fdfdfd;
    box-sizing: border-box;
}

.buttom {
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: .80rem 1.50rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 2rem;
    background: #002A54;
    border: none;
}

.buttom:hover {
    background: rgba(0, 42, 84, .9);
}

.recuperar {
    text-align: center;
}

.recuperar a {
    font-weight: 500;
    text-decoration: none;
}

.recuperar a:hover {
    border-bottom: 1px solid white;
}

.cadastrar {
    text-align: center;
    margin: 3rem 0 0 0;
}

.cadastrar a {
    text-decoration: none;
}

.cadastrar a:hover {
    border-bottom: 1px solid white;
}

.footer {
    display: flex;
    height: 8rem;
    align-items: center;
    margin-top: 3.125rem;
    background: #32363a;
    justify-content: center;
    flex-direction: column;
}

.icones {
    margin-bottom: 1rem;
}

.icones__item {
    font-size: 2rem;
    margin-right: 1.5rem;
}

.icones__item:last-child {
    margin: 0;
}

.footer p, a {
    color: white;
    text-align: justify;
}